.containerText {
    padding-left: 1vw;
    padding-right: 10vw;
    /* width: 100%; */
}

@media screen and (max-width:600px) {
    .containerText {
        margin-left: 0vh;
        padding: 15px;
        width: 100%;

    }
}

@media screen and (max-height:560px) {
    .containerText {
        padding-left: 20vh;
        width: 100%;

    }
}