.con {
    width: 100%;
    height: 50px;
    background-color: rgb(110, 14, 14) !important;

}

.footerText {
    color: aliceblue;
    margin-left: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}